<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
        <br />
        <br />
        <div>
        <a th:href="@{new-user}"><img th:src="@{images/new-user.png}" src="../images/new-user.png" alt="Add New User" style="width:193;height:196px;"></a>
        <a th:href="@{users}"><img src="../images/users.png" alt="Users" style="width:193px;height:196px;"></a>
        </div>
        
    </body>
</html>